@import "tailwindcss";

@plugin "daisyui";

@theme {
  --header-height: 3.5rem;
  --color-first-color: hsl(355, 70%, 54%);
  --color-first-color-alt: hsl(355, 66%, 50%);
  --color-title-color: hsl(355, 4%, 15%);
  --color-text-color: hsl(355, 4%, 35%);
  --color-text-color-light: hsl(355, 4%, 55%);
  --color-body-color: #fff;
  --color-container-color: #fff;
  --font-body-font: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 968px;
}

body {
  font-family: var(--font-body-font);
  color: var(--color-text-color);
}

a {
  @apply cursor-pointer;
}
